<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Log in</title>
</head>
<body>

    <header>
        <section class="completop">
            <div class="topheader">
                <picture class="logo">
                    <a href="/"> <img src="/images/logoMercadoLiebre.svg">  </a>
                </picture>
                <div class="topnav">
                    <input type="text" placeholder="Busca productos, marcas y más" name="search">   <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="anuncio"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito.</div> 
        </section>
        <div class="topbar">
            <ul class="rightnav">
                <li><a href="#">    Ofertas                 </a></li>
                <li><a href="#">    Tiendas Oficiales       </a></li>
                <li><a href="#">    Vender                  </a></li>
                <li><a href="#">    Ayuda                   </a></li>
            </ul>
            <ul class="leftnav">
                <li><a href="/register">    Creá tu cuenta      </a> <i class="far fa-id-card"></i> </li>
                <li><a href="/login">    Ingresá             </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li><a href="#">    Mis compras         </a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>


    <main>
        <form class="login">
            <input class="bar" type="text" placeholder="Nombre de usuario">
            <input class="bar" type="text" placeholder="Contraseña">
            <button class="butt" type="submit" href="/">Enviar</button>
        </form>
    </main>

    

    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        <br>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>